*{                                      /* para toda la pagina normalizo margen, padding y tipo de fuente */
    margin: 0;
    padding: 0;
    font-family: 'Koulen', cursive;
}
body {
    background-image: url("https://images.unsplash.com/photo-1510906594845-bc082582c8cc?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2044");
}
.menuInicio{                        /* El menu principal de Inicio */
    padding: 1rem;
    background-color: #000000;
}
.menuInicio a{
    margin-left: 2rem;
}
.menuInicio a:hover{
    text-decoration: underline;
}
.menuCategorias{                    /* Menu Lateral de Categorias */
    color: #000000;
}
.menuCategorias li{                 /* Estilo de Menu Lateral */
    list-style: none;
    background-color: #dbd7d7;
    text-align: center;
    margin: 1%;
    padding: 1%;
}
.menuCategorias li:hover{           /* Estilo de Menu Lateral al pasar el cursor por encima */
    background-color: #000000;
    color: #dbd7d7;
}
.informe{                           /* Area Central Principal Titulo, subtitulo e Imagenes */
    padding: 2%;
    border-radius: 5% 2%;
    color: #ffffff;
    display: flex;                  /* del tipo flexible en columnas wrap */
    flex-flow: column wrap;
    background-image: linear-gradient(to bottom, #000000, #5a5555, #000000);    /* Gradiente de fondo */
}
.imagenes img{            
    padding: 3%;
    width:80%;
    transition: all 1s;
}
.imagenes img:hover{
    width: 85%;
}
.imagenes .card{                                                                    /* Cards del index */
    background-image: linear-gradient(to bottom, #000000, #5a5555, #000000);
    text-align: center;
    align-items: center;
}
.imagenes .card:hover{
    background-image: linear-gradient(to bottom, #5a5a5a, #000000, #5a5a5a);
}
.imagenes .card a{                                                                 /* Links a la compra del card */
    background-color: #000000;
    border: 1px solid #ffffff;
}
.imagenes .card a:hover{
    background-color: #1f1c1c;
    border: none;
}
.informe p{                         /* Estilo de los parrafos en contenedor central */
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.informe h1{                        /* Estilo de Titulo Principal */
    font-size: 40px;
    text-align: center;
}
.informe h2{                        /* Estilo de los subtitulos */
    font-size: 30px;            
    text-align: center;
    border:1px solid #000000;
    border-radius: 10px;
}           
.pieDePagina{                        /* Pie de pagina o footer */
    display: flex;                  /* sera del tipo flexible en filas que saltan en caso de ser necesario, centrado el contenido */
    justify-content: center;    
    flex-flow: row wrap;
    color: #ffffff;
    padding: 1%;  
}
.pieDePagina a{                     /* Estilo de links de pie de pagina */
    padding: 1%;
}   
.pieDePagina img{                   /* Estilo de Imagenes de Pie de Pagina */
    border-radius: 8px;
}
.pieDePagina .logo{                 /* Logo de Pie de Pagina con animacion */
    border-radius: 20% 20%;
    height: 70px;                 
}

.pieDePagina .face{                 /* estilo a imagen de face de pie de pagina */
    border-radius: 50% 50%;
}
.pieDePagina p{                     
    padding: 1%;
}
.about{                             /* Estilo de la Pagina Acerca de Nosotros */
    color: rgb(255, 255, 255);
    padding: 3%;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000, #5a5555, #000000);
}
legend{                             /* Estilo al texto relacionado con cada campo del formulario */
    text-align: center;
    color: #ffffff;
}
fieldset{                           /* Estilo para el campo del formulario */
    border-radius: 2em;
    padding: 3rem;
    background-image: linear-gradient(to top, #000000, #363131, #000000);
}
.formularioDeContacto{              /* Contenedor del Formulario */
    width: 100%;
    color: #ffffff;
}
.botones .btn{
}
.botones .btn:hover{
    text-decoration: underline;
}
.listaDePrecios{                /* tabla de precios */
    text-align: center;
    padding: 5rem;
}
.listaDePrecios table{
    background-color: rgb(102, 101, 99);
    color: #ccc2c2;
}